{
  "trailingComma": "es5",         
  "tabWidth": 2,                  
  "semi": false,                  
  "singleQuote": true,            
  "quoteProps": "as-needed",     
  "jsxSingleQuote": false,       
  "arrowParens": "always",      
  "bracketSpacing": true,         
  "jsxBracketSameLine": false,   
  "endOfLine": "auto",          
  "htmlWhitespaceSensitivity": "css", 
  "insertPragma": false,         
  "requirePragma": false,         
  "proseWrap": "preserve",        
  "useTabs": false,               
  "max_line_length": 100          
}
